* {
  box-sizing: border-box;
  font-family: "Consolas";
}

body {
  background-color: black;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/***** GAME & BOARD *****/
.game {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -335px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 940px), (max-height: 600px) {
  .game {
    transform: scale(0.7);
  }
}

@media (max-width: 540px), (max-height: 540px) {
  .game {
    transform: scale(0.5);
  }
}

@media (max-width: 380px), (max-height: 380px) {
  .game {
    transform: scale(0.4);
  }
}

@media (max-width: 280px), (max-height: 280px) {
  .game {
    transform: scale(0.3);
  }
}

.board {
  background-image: url("../img/bg.png");
  border: solid transparent;
  border-image: url("../img/border.png") 25% round;
}
/***** End GAME & BOARD *****/

/***** MUTE *****/
.mute {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 15px;
  top: 15px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.mute:hover {
  opacity: 1;
}
/***** End MUTE *****/
