@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC")
      14 0,
    pointer;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

body {
  background-color: black;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/***** GAME & BOARD & STATS *****/
.game {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -335px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.board-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.board-menu .logo {
  display: flex;
  margin: auto;
  font-size: 60px;
}

.board-menu .logo > * {
  position: relative;
}

.board-menu .logo .logo-2 img {
  width: 60px;
  margin-bottom: 20px;
}

.board-menu .logo .logo-1 {
  animation: logo1 0.5s ease-in;
}

.board-menu .logo .logo-2 {
  top: -200px;
  animation: logo2 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.board-menu .logo .logo-3 {
  animation: logo3 0.5s ease-in;
}

.board-menu .menu-options {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.board-menu .menu-options button {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: 25px 5px;
  padding-left: 40px;
  background-size: 32px;
  left: -600px;
  animation: slideButton 1s ease-out;
  animation-fill-mode: forwards;
}

.board-menu .menu-options button.play {
  background-image: url("../img/play.png");
  animation-delay: 0.5s;
}

.board-menu .menu-options button.instructions {
  background-image: url("../img/question.png");
  animation-delay: 1s;
}

.board-menu .menu-options button.ranking {
  background-image: url("../img/trophy.png");
  animation-delay: 1.5s;
}

.board-game {
  width: 100%;
  height: 100%;
}

.board-game .countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 20px;
  font-size: 150px;
  line-height: 120px;
  height: 80px;
  z-index: 3;
  display: inline-block;
  transition: opacity 1s;
}

@media (max-width: 940px), (max-height: 600px) {
  .game {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@media (max-width: 540px), (max-height: 540px) {
  .game {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (max-width: 380px), (max-height: 380px) {
  .game {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }
}

@media (max-width: 280px), (max-height: 280px) {
  .game {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
}

.board {
  background-image: url("../img/background.png");
  border: solid transparent;
  -o-border-image: url("../img/border.png") 25% round;
  border-image: url("../img/border.png") 25% round;
  overflow: hidden;
}

.stats {
  position: absolute;
  top: -55px;
  width: 100%;
  color: white;
  font-size: 21px;
}

.stats i {
  font-size: 36px;
}

.stats table {
  width: 100%;
}

.stats table .img-timer {
  width: 5%;
  margin-right: 10px;
}

.stats table .img-timer img{
  width: 40px;
  margin: 10px;
  margin-bottom: 15px;
}

.stats table .timer {
  width: 95%;
  text-align: left;
}

.stats table .lifes .img-lifes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.stats table .lifes .img-lifes img {
  margin: 5px;
}

#ship:before {
  position: absolute;
  visibility: visible !important;
  top: -40px;
  right: -35px;
  content: attr(data-before);
  font-size: 20px;
  color: white;
}

/***** End GAME & BOARD & STATS *****/

/***** KEYFRAMES *****/
@keyframes createSprite {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes boardShadow {
  50% {
    box-shadow: inset 0px 0px 20px 10px #ff0000;
  }
}

@keyframes slideButton {
  0% {
    left: -600px;
  }
  80% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

@keyframes logo1 {
  0% {
    left: -600px;
  }
  100% {
    left: 0px;
  }
}

@keyframes logo2 {
  0% {
    top: -200px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: -50px;
  }
  100% {
    top: 0px;
  }


}
@keyframes logo3 {
  0% {
    right: -600px;
  }
  100% {
    right: 0px;
  }
}
/***** End KEYFRAMES *****/
